*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scrollbar-gutter: stable;
    line-height: 1.4;
}

a {
    color: black;
    text-decoration: none;
}

p {
    margin-bottom: 0.8rem;
}

a:hover,
a:active {
    color: #679f69;
    text-decoration: underline;
}

.back,
.forward {
    flex: 1;
}

.body {
    margin: 3rem auto 3rem;
    width: 90%;
    max-width: 540px;
}

.button {
    border: 1px solid black;
    border-radius: 3px;
    margin-inline: 2px;
    padding-block: 5px;
    text-align: center;
    color: black;
}

.button:hover,
.button:active {
    color: #679f69;
    border: 1px solid #679f69;
    text-decoration: none;
}

.bw {
    position: fixed;
    bottom: 3rem;
}

.contact {
    flex: 4;
}

.content {
    margin-top: 1rem;
    margin-bottom: 5rem;
}

.flex {
    display: flex;
}

.footer {
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    margin: 3rem auto 0;
    width: 90%;
    max-width: 540px;
    bottom: 0;
    background-color: white;
    padding-block: 1rem;
}

.green {
    color: #679f69
}

.invis {
    visibility: hidden;
    cursor: default;
}

.nav {
    align-items: baseline;
    justify-content: space-between;
    color: black;
    background-color: white; 
    top: 0;
}

.sticky {
    position: sticky;
}

.title {
    font-size: 1.8rem;
}

@media (max-width: 640px) {
    .body {
        margin-top: 0.8rem;
    }

    .bw {
        bottom: 0.8rem;
    }
}